@if(IsOpen)
{
    @if (DomContent is null)
    {
        <div class="modal-backdrop">
            <div class="modal-content">
                <p>This is a modal</p>
            </div>
        </div>
    }

    // Rendenring render fragment
    <div class="modal-container">
        <div class="modal">
            @DomContent
        </div>
    </div>
}


